
@model ApartmentController.Index_VM
@{
    
}
<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4 mt-2">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        @Model.PageTitle
    </div>
    @using (Html.BeginForm("Index", "Apartment", FormMethod.Get)) //bazi durumlarda POST ile de calisabilirsin, daha temiz bir url yapisi gormek icin. Bu konuyu ve kullanim senaryolarini arastir.
    {
        <div class="row">

            <div class="col-md-3">

                <label>Siralama Yap: </label>
               
                <select class="form-control" asp-for="OrderBy" asp-items="@Model.SortOptions"></select>


            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Listele</button>
        <input type="button" class="btn btn-primary mt-2" value="Sıfırla" onclick="location.href='@Url.Action("Index")'" />

    }

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="apartmentsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Guid</th>
                        <th>Kod</th>
                        <th>Apartman Id</th>
                        <th>Apartman Adı</th>
                        <th>Şehir</th>
                        <th>İlçe</th>
                        <th>Ad Soyad</th>
                        <th>Telefon Numarası</th>
                        <th>Kapı Numarası</th>
                        <th>Daire Sayısı</th>
                        <th>Yönetici Id</th>
                        <th>Açık Adres</th>
                        <th>Güncelleyen</th>
                        <th>Güncelleme Tarihi</th>
                        <th>Aktiflik Durumu</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Guid</th>
                        <th>Kod</th>
                        <th>Apartman Id</th>
                        <th>Apartman Adı</th>
                        <th>Şehir</th>
                        <th>İlçe</th>
                        <th>Ad Soyad</th>
                        <th>Telefon Numarası</th>
                        <th>Kapı Numarası</th>
                        <th>Daire Sayısı</th>
                        <th>Yönetici Id</th>
                        <th>Açık Adres</th>
                        <th>Güncelleyen</th>
                        <th>Güncelleme Tarihi</th>
                        <th>Aktiflik Durumu</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.PagedList)
                    {
                        <tr>
                            <td>@item.Guid</td>
                            <td>@item.Code</td>
                            <td>@item.ApartmentId</td>
                            <td>@item.ApartmentName</td>
                            <td>@item.CityName</td>
                            <td>@item.CountyName</td>
                            <td>@item.NameSurname</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.DoorNumber</td>
                            <td>@item.NumberOfFlats</td>
                            <td>@item.ResponsibleMemberId</td>
                            <td>@item.OpenAdress</td>
                            <td>@item.UpdatedBy</td>
                            <td>@item.UpdatedDate</td>
                            <td>@item.IsActive</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @*partial view ile çalışınca sayfalamada sıralama yaparken url'den haberleşmen gerekir. bunun için helper yazman lazım. Barış Bey'in gönderdiği kodları incele ve sorunu çöz*@


        <div class="pagination-container">
            @await Html.PartialAsync("Pagination", @Model.MyPagination)
        </div>


    </div>
