@using DataAccess.Concrete.EntityFramework.Context;
@model List<VwApartment>
@{
    Layout = "_Layout";
    ViewBag.Title = "Apartmanlar";
    var currentPage = ViewBag.PageNumber ?? 1;
    var pageSize = ViewBag.PageSize;
    var totalItems = ViewBag.TotalRecords;
    var pageCount = (int)Math.Ceiling((double)totalItems / pageSize);
}
<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4 mt-2">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Apartmanlar
    </div>
    @using (Html.BeginForm("Index", "Apartment", FormMethod.Get, new { enctype = "multipart/form-data" }))
    {
        <div class="row">

            <div class="col-md-3">
                <label>Siralama Yap: </label>
                @Html.DropDownList("orderBy", ViewBag.SortOrder as SelectList, new { @class = "form-control" })

            </div>
            <div class="col-md-3">
                <label>Ilce Sec: </label>
                @Html.DropDownList("countyFilter", new SelectList(Model.Select(x => x.CountyName).Distinct().Prepend("")), new { @class = "form-control form-control-md"})
            </div>

        </div>

        <button type="submit" class="btn btn-primary mt-2">Listele</button>
        <input type="button" class="btn btn-primary mt-2" value="Sıfırla" onclick="location.href='@Url.Action("Index")'" />

    }
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="apartmentsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Guid</th>
                        <th>Kod</th>
                        <th>Apartman Id</th>
                        <th>Apartman Adı</th>
                        <th>Şehir</th>
                        <th>İlçe</th>
                        <th>Ad Soyad</th>
                        <th>Telefon Numarası</th>
                        <th>Kapı Numarası</th>
                        <th>Daire Sayısı</th>
                        <th>Yönetici Id</th>
                        <th>Açık Adres</th>
                        <th>Güncelleyen</th>
                        <th>Güncelleme Tarihi</th>
                        <th>Aktiflik Durumu</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Guid</th>
                        <th>Kod</th>
                        <th>Apartman Id</th>
                        <th>Apartman Adı</th>
                        <th>Şehir</th>
                        <th>İlçe</th>
                        <th>Ad Soyad</th>
                        <th>Telefon Numarası</th>
                        <th>Kapı Numarası</th>
                        <th>Daire Sayısı</th>
                        <th>Yönetici Id</th>
                        <th>Açık Adres</th>
                        <th>Güncelleyen</th>
                        <th>Güncelleme Tarihi</th>
                        <th>Aktiflik Durumu</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Guid</td>
                            <td>@item.Code</td>
                            <td>@item.ApartmentId</td>
                            <td>@item.ApartmentName</td>
                            <td>@item.CityName</td>
                            <td>@item.CountyName</td>
                            <td>@item.NameSurname</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.DoorNumber</td>
                            <td>@item.NumberOfFlats</td>
                            <td>@item.ResponsibleMemberId</td>
                            <td>@item.OpenAdress</td>
                            <td>@item.UpdatedBy</td>
                            <td>@item.UpdatedDate</td>
                            <td>@item.IsActive</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="pagination-container">
            <ul class="pagination">
                @if (currentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { pageNumber = currentPage - 1, pageSize = pageSize})">Onceki</a>
                    </li>
                }
                @for (int i = 1; i <= pageCount; i++)
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { pageNumber = i, pageSize = pageSize, orderBy = TempData["orderBy"]})">@i</a>
                    </li>
                }
                @if (currentPage < pageCount)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { pageNumber = currentPage + 1, pageSize = pageSize,orderBy = TempData["orderBy"] })">Sonraki</a>
                    </li>
                }
            </ul>
        </div>


    </div>
