@using DataAccess.Concrete.EntityFramework.Context;
@model List<VwApartment>
@{
    Layout = "_Layout";
    ViewBag.Title = "Apartmanlar";

}
<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4 mt-2">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Apartmanlar
    </div>
    @using (Html.BeginForm("Index", "Apartment", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-3">
                <label>Kac kayit gosterilsin: </label>
                @Html.DropDownList("maxResultCount", new SelectList(new List<int> {2, 10, 20, 50 }, Model.Count), new { @class = "form-control form-control-md" })
            </div>

            <div class="col-md-3">
                <label>Apartman Sec: </label>
                @Html.DropDownList("apartmentFilter", new SelectList(Model.Select(x => x.ApartmentName).Distinct().Prepend("")), new { @class = "form-control form-control-md" })
            </div>

            <div class="col-md-3">
                <label>Ilce Sec: </label>
                @Html.DropDownList("countyFilter", new SelectList(Model.Select(x => x.CountyName).Distinct().Prepend("")), new { @class = "form-control form-control-md"})
            </div>
            <div class="col-md-3">
                <label>Siralama Yap: </label>
                @Html.DropDownList("filter", new SelectList(new List<SelectListItem>
                {
                    new SelectListItem { Text = "", Value = "" },
                    new SelectListItem { Text = "Guid alanina gore azalan", Value = "asc" },
                    new SelectListItem { Text = "Guid alanina gore artan", Value = "desc" }
                }, "Value", "Text"), new { @class = "form-control form-control-md" })
            </div>
        </div>

                //@Html.DropDownList("filter3", ViewBag.FilterList as SelectList, new { @class = "form-control form-control-md" })

        <button type="submit" class="btn btn-primary mt-2">Listele</button>
        <input type="button" class="btn btn-primary mt-2" value="Sıfırla" onclick="location.href='@Url.Action("Index")'" />

    }






    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="apartmentsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Guid</th>
                        <th>Code</th>
                        <th>Apartment Id</th>
                        <th>Apartment Name</th>
                        <th>City Name</th>
                        <th>County Name</th>
                        <th>Name Surname</th>
                        <th>Phone Number</th>
                        <th>Door Number</th>
                        <th>Number Of Flats</th>
                        <th>Responsible Member Id</th>
                        <th>Open Adress</th>
                        <th>Updated By</th>
                        <th>Updated Date</th>
                        <th>Is Active</th>
                        @*//il, search text getir
                        //listeleme icin ayri dto yapma
                        *@
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Guid</th>
                        <th>Code</th>
                        <th>Apartment Id</th>
                        <th>Apartment Name</th>
                        <th>City Name</th>
                        <th>County Name</th>
                        <th>Name Surname</th>
                        <th>Phone Number</th>
                        <th>Door Number</th>
                        <th>Number Of Flats</th>
                        <th>Responsible Member Id</th>
                        <th>Open Adress</th>
                        <th>Updated By</th>
                        <th>Updated Date</th>
                        <th>Is Active</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Guid</td>
                            <td>@item.Code</td>
                            <td>@item.ApartmentId</td>
                            <td>@item.ApartmentName</td>
                            <td>@item.CityName</td>
                            <td>@item.CountyName</td>
                            <td>@item.NameSurname</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.DoorNumber</td>
                            <td>@item.NumberOfFlats</td>
                            <td>@item.ResponsibleMemberId</td>
                            <td>@item.OpenAdress</td>
                            <td>@item.UpdatedBy</td>
                            <td>@item.UpdatedDate</td>
                            <td>@item.IsActive</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>