@using DataAccess.Concrete.EntityFramework.Context;
@model List<VwApartment>
@{
    ViewData["Title"] = "Index";
}
<a class="btn btn-primary" asp-controller="Apartments" asp-action="Index">---</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ApartmentId</th>
            <th>Guid</th>
            <th>Code</th>
            <th>ApartmentName</th>
            <th>DoorNumber</th>
            <th>ResponsibleMemberId</th>
            <th>NameSurname</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ApartmentId</td>
                <td>@item.Guid</td>
                <td>@item.Code</td>
                <td>@item.ApartmentName</td>
                <td>@item.DoorNumber</td>
                <td>@item.ResponsibleMemberId</td>
                <td>@item.NameSurname</td>
                <td>
                    <a class="btn  btn-success" asp-controller="Products" asp-action="Update" asp-route-id="@item.ApartmentId">Update</a>
                    <a class="btn  btn-danger" asp-controller="Products" asp-action="Remove" asp-route-id="@item.ApartmentId">Delete</a>
                    </td>
            </tr>
        }
    </tbody>
</table>