@model ApartmentFlatController.Index_VM
<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4 mt-2">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        @Model.PageTitle
    </div>
    @using (Html.BeginForm("Index", "ApartmentFlat", FormMethod.Get)) //bazi durumlarda POST ile de calisabilirsin, daha temiz bir url yapisi gormek icin. Bu konuyu ve kullanim senaryolarini arastir.
    {
        <div class="row ml-2">
            <div class="col-md-3">
                <label>Siralama Yap</label>
                <select class="form-control" asp-for="OrderBy" asp-items="@Model.SortOptions"></select>
            </div>
        </div>


        <div class="row ml-2 col-md-3">

            <button type="submit" class="btn btn-primary mt-2 mr-1">Listele</button>
            <input type="button" class="btn btn-primary mt-2" value="Sıfırla" onclick="location.href='@Url.Action("Index")'" />
            <div class="ml-1 mt-2">
                <a asp-controller="ApartmentFlat" asp-action="Add" class="btn btn-success">
                    <i class="material-icons">&#xE147;</i>
                    <span>Daire Ekle</span>
                </a>

            </div>
        </div>
    }

    <div class="card-body">

        <div class="col-sm-12 text-right">
            <div class="dataTables_info F11" id="bootstrap-data-table-export_info" role="status" aria-live="polite">
                <b>@Model.MyPagination.TotalRecords</b> kayit bulunmaktadir.
            </div>
            <input type="hidden" name="pageIndex" id="pageIndex" value="1" />
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover text-center" id="apartmentsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Daire Numarasi</th>
                        <th>Apartman Adi</th>
                        <th>Kiraci Bilgileri</th>
                        <th>Ev Sahibi Bilgileri</th>
                        <th>Arac Plakasi</th>
                        <th>Guncelleme Zamani</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.PagedList)
                    {
                        <tr>
                            <td>@item.FlatNumber</td>
                            <td>@item.ApartmentName</td>
                            <td>@item.NameSurname, Telefon: @item.PhoneNumber</td>
                            <td>@item.FlatOwnerNameSurname, Telefon: @item.FlatOwnerPhoneNumber</td>
                            <td>@item.CarPlate</td>
                            <td>@item.UpdatedDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            @await Html.PartialAsync("Pagination", @Model.MyPagination)
        </div>


    </div>
